<form novalidate [formGroup]="invoiceDetailsForm" style="padding-top:20px">
  <label class="pageBoxLg-label">Create Invoice</label>
  <div class="pageBoxLg">
    <div class="row" *ngFor="let data of workOrder">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Customer ID</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">
                <input hidden formControlName="customerID" [ngModel]="data?.customerID">
                {{data?.customerID}}
              </label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Customer Name</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="customerName" [ngModel]="data?.customerName">
              : <label class="itemLable">{{data?.customerName}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Company Name</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="companyName" [ngModel]="data?.companyName">
              : <label class="itemLable">{{data?.companyName}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Company Address</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="companyAddress" [ngModel]="data?.companyAddress">
              : <label class="itemLable">{{data?.companyAddress}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Email</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="emailId" [ngModel]="data?.emailId">
              : <label class="itemLable">{{data?.emailId}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">WorkOrder ID</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="workOrderID" [ngModel]="data?.workOrderID">
              : <label class="itemLable">{{data?.workOrderID}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Mobile Number</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{data?.mobileNumber}}</label>
              <input hidden formControlName="mobileNumber" [ngModel]="data?.mobileNumber">
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Date</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label>
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="date" [matDatepicker]="picker1" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </label>
            </div>
          </div>
          <input hidden formControlName="leadID" [ngModel]="data?.leadID" placeholder="item">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">expiryDate</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label>
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="expiryDate" [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="labelHeader">Requirements</label>
      </div>
    </div>
    <div (keyup)="getTotal()" formArrayName="requirements">
      <div *ngFor="let account of requirementsForms.controls; let i=index" [formGroupName]="i" class="row">
        <div class="col-md-1 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="item" placeholder="item">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1 col-4">
          <mat-form-field class="full-width">
            <input matInput formControlName="quantity" placeholder="Quantity">
          </mat-form-field>
        </div>
        <div class="col-md-2 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="price" placeholder="price">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="discount" placeholder="Discount">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <mat-form-field class="full-width">
            <input matInput formControlName="total" [ngModel]="(invoiceDetailsForm.controls['requirements'].controls[i].controls.quantity.value *
            invoiceDetailsForm.controls['requirements'].controls[i].controls.price.value
              ) - (invoiceDetailsForm.controls['requirements'].controls[i].controls.quantity.value *
              invoiceDetailsForm.controls['requirements'].controls[i].controls.price.value)/100*invoiceDetailsForm.controls['requirements'].controls[i].controls.discount.value"
              placeholder="Total">
          </mat-form-field>
        </div>
        <div class="col-md-2 col-2">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="description" placeholder="Description">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-2">
          <div class="form-group">
            <a (click)="deleteRequirements(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <a (click)="addNewForm()">
        <mat-icon class="gridEdit">add_box</mat-icon>
      </a>
    </div>
    <div class="offset-md-6 col-md-6">
      <div class="pageBoxLg">
        <div class="row">
          <div class="col-md-6 col-6">
            <mat-form-field class="full-width">
              <input matInput formControlName="subTotal" [readonly]="true" placeholder="Sub Total" [ngModel]="sum">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-6">
            <mat-form-field class="full-width">
              <input matInput formControlName="tax" [ngModel]="(invoiceDetailsForm.controls.subTotal.value * gstVal / 100)"
                [readonly]="true" placeholder="Tax">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-12">
            <mat-form-field class="full-width">
              <input matInput formControlName="allTotal" [readonly]="true" placeholder="Total" [ngModel]="(invoiceDetailsForm.controls.tax.value + invoiceDetailsForm.controls.subTotal.value )">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <button mat-raised-button (click)="cancelInvoice()" type="button" color="accent">Cancel</button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button color="primary" type="button"
         (click)="createLeadInvoice(invoiceDetailsForm)">Save</button>
      </div>
    </div>

  </div>
</form>