<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label class="labelHeader">Follow Up</label>
    </div>
  </div>
  <div class="row gridRowHeader display-none-small">
    <div class="col-md-4">
      <div class="form-group">
        <label>Date</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Upcoming Date</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Remarks</label>
      </div>
    </div>
  </div>
  <div class="row gridRow" *ngFor ="let follow of followupData">
    <div class="display-none-large col-6">
      <label class="gridLabel">Date:</label>
    </div>
    <div class="col-md-4 col-6 vcenter form-group">
      {{follow.date | date: 'dd/MM/yyyy' }}
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">Upcoming Date:</label>
    </div>
    <div class="col-md-4 col-6 vcenter form-group">
      {{follow.upcomingDate | date: 'dd/MM/yyyy' }}
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">Remarks:</label>
    </div>
    <div class="col-md-4 col-6 vcenter form-group">
      {{follow.remarks}}
    </div>
  </div>
</div>