<div class="row">
  <div class="col-md-2 col">
    <label class="searchHeader">Lead Search</label>
    <select class="form-control input-sm" (change)="selected($event, leadModel)">
      <option value="All">
        All
      </option>
      <optgroup label='Lead Source' *ngFor="let data of searchDetails">

        <option [value]="source" *ngFor="let source of data.leadSource">
          {{source | lowercase}}
        </option>
      </optgroup>
      <optgroup label='Lead Service' *ngFor="let data of searchDetails">

        <option [value]="service" *ngFor="let service of data.service">
          {{service | lowercase }}
        </option>
      </optgroup>
      <optgroup label='Lead Status' *ngFor="let data of searchDetails">

        <option [value]="status" *ngFor="let status of data.leadStatus">
          {{status | lowercase }}
        </option>
      </optgroup>
      <optgroup label='Lead Type' *ngFor="let data of searchDetails">

        <option [value]="status" *ngFor="let status of data.type">
          {{status | lowercase }}
        </option>
      </optgroup>
    </select>
  </div>
</div>