<div class="pageBoxLg">
  <app-search [searchDetails]="leadStatusModel" [leadModel]="array" (searchFilter)="getSearch($event)">
  </app-search>
  <!-- <div class="container-fluid"> -->

  <div class="row" [formGroup]="leadForm">
    <div class="col-md-2">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDate" formControlName="fromDate" placeholder="From Date" required>
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field>
        <input matInput [matDatepicker]="toDate" formControlName="toDate" placeholder="To Date" required>
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button type="submit" (click)="searchDate(leadForm)" mat-raised-button color="warn">Search</button>
    </div>
    <div class="col-md-2">
      <button mat-button type="submit" (click)="searchAll(array)">
        <mat-icon>refresh</mat-icon>
      </button>

    </div>

    <!--   <div class="col-md-2">
      <mat-form-field>
        <mat-select formControlName="monthData"  placeholder="Select Month">
          <mat-option *ngFor="let day of allMonth; let i = index" [value]="i+1">
            {{day.month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <div class="col-md-2">
      <mat-form-field>
        <mat-select formControlName="yearData" placeholder="Select Year">
          <mat-option *ngFor="let yrs of allYear" [value]="yrs.year">
            {{yrs.year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2">
        <button type="button"
         (click)="searchMonth(leadForm)" 
         mat-raised-button color="warn">Search</button>
      </div> -->
  </div>
  <div class="row">
    <div class="btn">
      <a (click)="addLead()">
        <mat-icon class="gridEdit">add_box</mat-icon>
      </a>
    </div>
  </div>
  <div class="row gridRowHeader display-none-small">
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Lead ID</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Name</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Mobile Number</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Date</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Lead Status</label>
      </div>
    </div>
    <div class="col-md-2 vcenterHeader">
      <div class="form-group">
        <label>Action</label>
      </div>
    </div>
  </div>

  <div *ngIf="leadModel?.length === 0 ">
    No Leads
  </div>
  <div *ngFor="let data of leadModel">
    <div class="row gridRow">
      <div class="display-none-large col-6">
        <label class="gridLabel">Lead ID:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        {{data.leadID}}
      </div>
      <div class="display-none-large col-6">
        <label class="gridLabel">Name:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        {{data.name}}
      </div>
      <div class="display-none-large col-6">
        <label class="gridLabel">Mobile Number:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        {{data.mobileNumber}}
      </div>
      <div class="display-none-large col-6">
        <label class="gridLabel">Date:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        {{data.date | date: 'MM/dd/yyyy'}}
      </div>
      <div class="display-none-large col-6">
        <label class="gridLabel">Lead Status:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        {{data.leadStatus}}
      </div>
      <div class="display-none-large col-6">
        <label class="gridLabel">Action:</label>
      </div>
      <div class="col-md-2 col-6 vcenter form-group">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a class="nav-link" (click)="getViewLead(data)">
            view
          </a>
          <a class="nav-link" (click)="getEditLead(data._id)">
            Edit
          </a>
          <a class="nav-link" (click)="getDeleteLead(data)">
            Delete
          </a>
          <a class="nav-link" (click)="createWorkOrder(data)">
            Create Work order
          </a>
          <a class="nav-link" (click)="createQuotation(data)">
            Create Qutotation
          </a>
          <a class="nav-link" (click)="viewWorkOrder(data)">
            View Work order
          </a>
          <a class="nav-link" (click)="viewQuotation(data)">
            View Qutotation
          </a>

        </mat-menu>
      </div>
    </div>
  </div>

  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[50, 100, 150]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
  <!--  </div> -->
</div>