<form novalidate style="padding-top:20px" [formGroup]="materialDetailsForm">
    <label class="pageBoxLg-label">Material Detail</label>
    <div class="pageBoxLg" *ngFor="let data of materialModel; let i = index">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-4  col-6">
                  <div class="form-group">
                    <label class="divLable">workOrderID</label>
                  </div>
                </div>
                <div class="col-md-8  col-6">
                  <div class="form-group">
                    : <label class="itemLable">{{data.workOrderID}}</label>
                  </div>
                </div>
              <div class="col-md-4  col-6">
                  <div class="form-group">
                    <label class="divLable">Received Date</label>
                  </div>
                </div>
                <div class="col-md-8  col-6">
                  <div class="form-group">
                    : <label class="itemLable">{{data.date | date: 'dd/MM/yyyy'}}</label>
                  </div>
                </div>
  
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Name</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.customerName}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">ReceivedBy</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.receivedBy}}</label>
              </div>
            </div>
            <!-- <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Product Type</label>
              </div>
            </div> -->
            <!-- <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.productType}}</label>
              </div>
            </div> -->
            
            <!-- <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">NO.of Product</label>
              </div>
            </div> -->
           <!--  <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.noOfProduct}}</label>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <!-- <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Shoot Type</label>
              </div>
            </div> -->
            <!-- <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.shootType}}</label>
              </div>
            </div> -->
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Shoot Status</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.shootStatus}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Payment Status</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.paymentStatus}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Mode of Inward</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.modeOfInward}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Mode of Outward</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.modeOfOutward}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Dispatch Type</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.dispatchType}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Material Status</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.materialStatus}}</label>
              </div>
            </div>
            <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Remark</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{data.remark}}</label>
              </div>
            </div>           
          </div>          
        </div>
        <div>
          <app-view-product [productData]="data.product"  
    ></app-view-product>
        </div>
        <div fxFlex="100" class="mt-1">
          <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
          <span fxFlex></span>
          <span fxFlex></span>
          <button mat-raised-button type="button" color="primary" (click)="getEdit(data)">Edit</button>
        </div>
      </div>  
    </div>
  </form>