html,
body {
  height: 100%;
  background-color: #e9e7e7;
  font-size: 12px;
  font-weight: 500;
}

.topAlignContainer {
  margin-top: 10px;
}

.pointerDiv {
  cursor: pointer;
}


.menuTransparent {
  display: none;
}
.searchHeader
{
  background-color: lightslategray;
  color: #ffff;
  padding: 2px;
}
.pageBox {
  width: 70%;
  background: #FFF;
  padding-bottom: 40px;
  margin: 80px auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(12, 41, 251, 0.2), 0 6px 20px 0 rgba(12, 41, 251, 0.2);
}
vcenterHeader {
  font-size: 12px;
}
.pageBoxLg-label {
  background: lightslategray;
  font-size: 14px;
  padding: 2px 2px 2px 2px;
  color: white;
  transition: padding 3s;
  -moz-transition: padding 3s;
  -webkit-transition: padding 3s;
}

.gridRowHeader {
  margin: 12px 0px;
  color: #FFF;
  font-size: .8rem !important;
  background-color: lightslategray;
}

.nav-link:hover {
  background-color: lightslategrey;
  color: #ffffff !important;
}


.labelHeader {
  background: lightslategray;
  color: white;
  padding: 2px 20px 2px 20px;
  transition: padding 3s;
  -moz-transition: padding 3s;
  -webkit-transition: padding 3s;
}

.gridSign {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  margin: 12px 0px;
  background-color: #fff;
  border-radius: 3px;
  font-size: .8rem !important;
  padding: 40px;
}
.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.gridRow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  margin: 12px 0px;
  background-color: #fff;
  border-radius: 3px;
  font-size: .8rem !important;
}

.pageBoxLg {
  border: 1px solid lightslategray;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageBoxLg-label {
  background: lightslategray;
  margin: 0px 0px 0px 20px;
  font-size: 14px;
  padding: 2px 20px 2px 20px;
  color: white;
  transition: padding 3s;
  -moz-transition: padding 3s;
  -webkit-transition: padding 3s;
}


.gridEdit {
  cursor: pointer;
}

.gridRowEditPadding {
  padding-top: 10px;
}

@media screen and (min-width: 900px) {
  .display-none-large {
    display: none;
  }
}

@media screen and (max-width: 900px) {

  /*Small */
  .pageBox {
    width: 90%;
  }

  .pageBoxLg {
    border: 1px solid lightslategray;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .pageBoxLg-label {
    background: lightslategray;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    padding: 2px 20px 2px 20px;
    color: white;
    transition: padding 3s;
    -moz-transition: padding 3s;
    -webkit-transition: padding 3s;
  }

  .display-none-small {
    display: none;
  }


  .container-fuid-padding-small {
    padding-right: 5px;
    padding-left: 5px;
  }

  .editImage {
    position: absolute;
    right: 15px;
  }

  .gridLabel {
    color: lightslategray;
    font-size: 8pt;
  }
}