<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label class="labelHeader">Products</label>
    </div>
  </div>
  <div class="row gridRowHeader display-none-small">
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Type</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>No. of Products</label>
      </div>
    </div>    
  </div>
  <div class="row gridRow" *ngFor="let data of productData; let i = index">
    <div class="display-none-large col-6">
      <label class="gridLabel">Product Type:</label>
    </div>
    <div class="col-md-6 col-6 vcenter form-group">
      {{data.productType}}
    </div>
    <div class="display-none-large col-6">
      <label class="gridLabel">No. of Products:</label>
    </div>
    <div class="col-md-6 col-6 vcenter form-group">
        {{data.noOfProduct}}
    </div>    
  </div>  
</div>