<form novalidate [formGroup]="profomaInvoiceDetailsForm"
 (ngSubmit)="updateProfomaInvoice(profomaInvoiceDetailsForm)" 
style="padding-top:20px">
  <label class="pageBoxLg-label">Edit Profoma Invoice</label>
  <div class="pageBoxLg">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Customer ID</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">
                <input hidden formControlName="customerID"
                 [ngModel]="profomaInvoice?.customerID">
                {{profomaInvoice?.customerID}}
              </label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Company Name</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden  formControlName="companyName" [ngModel]="profomaInvoice?.companyName">
              : <label class="itemLable">{{profomaInvoice?.companyName}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Company Address</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
                <div class="form-group">
                  <input hidden  formControlName="companyAddress" [ngModel]="profomaInvoice?.companyAddress">
                  : <label class="itemLable">{{profomaInvoice?.companyAddress}}</label>
                </div>
              </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Customer Name</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input hidden formControlName="customerName" [ngModel]="profomaInvoice?.customerName">
              : <label class="itemLable">{{profomaInvoice?.customerName}}</label>
            </div>
          </div>

          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Mobile Number</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              : <label class="itemLable">{{profomaInvoice?.mobileNumber}}</label>
              <input hidden  formControlName="mobileNumber" [ngModel]="profomaInvoice?.mobileNumber">
            </div>
          </div>
          <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Email ID</label>
              </div>
            </div>
          <div class="col-md-8  col-6">
              <div class="form-group">
                : <label class="itemLable">{{profomaInvoice?.emailId}}</label>
                <input hidden formControlName="emailId" [ngModel]="profomaInvoice?.emailId">
              </div>
            </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Profoma Invoice ID</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <input  hidden formControlName="proformaInvoiceID" [ngModel]="profomaInvoice?.proformaInvoiceID">
              : <label class="itemLable">{{profomaInvoice?.proformaInvoiceID}}</label>
            </div>
          </div>
          <div class="col-md-4  col-6">
            <div class="form-group">
              <label class="divLable">Date</label>
            </div>
          </div>
          <div class="col-md-8  col-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput formControlName="date" [matDatepicker]="picker" [ngModel]="profomaInvoice?.date" 
                 placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4  col-6">
              <div class="form-group">
                <label class="divLable">Expiry Date</label>
              </div>
            </div>
            <div class="col-md-8  col-6">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput formControlName="expiryDate" [matDatepicker]="picker1" [ngModel]="profomaInvoice?.expiryDate" 
                     placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
          <input hidden formControlName="date" [ngModel]="profomaInvoice?.date" placeholder="item">
          <input hidden formControlName="date" [ngModel]="profomaInvoice?.date" placeholder="item">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="labelHeader">Requirements</label>
      </div>
    </div>
    <div (keyup)="getTotal()" formArrayName="requirements">
      <div *ngFor="let account of requirementsForms.controls; let i=index" [formGroupName]="i" class="row">
        <div class="col-md-1 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="item" placeholder="item">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1 col-4">
          <mat-form-field class="full-width">
            <input matInput formControlName="quantity" placeholder="Quantity">
            
          </mat-form-field>
        </div>
        <div class="col-md-2 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="price" placeholder="price">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="discount" placeholder="Discount">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <mat-form-field class="full-width">
            <input matInput formControlName="total" [ngModel]="(profomaInvoiceDetailsForm.controls['requirements'].controls[i].controls.quantity.value *
            profomaInvoiceDetailsForm.controls['requirements'].controls[i].controls.price.value
              ) - (profomaInvoiceDetailsForm.controls['requirements'].controls[i].controls.quantity.value *
              profomaInvoiceDetailsForm.controls['requirements'].controls[i].controls.price.value)/100*profomaInvoiceDetailsForm.controls['requirements'].controls[i].controls.discount.value"
              placeholder="Total">
          </mat-form-field>
        </div>
        <div class="col-md-2 col-2">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input matInput formControlName="description" placeholder="Description">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-2">
          <div class="form-group">
            <a (click)="deleteRequirements(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <a (click)="addNewForm()">
        <mat-icon class="gridEdit">add_box</mat-icon>
      </a>
    </div>
    <div class="offset-md-6 col-md-6">
      <div class="pageBoxLg">
        <div class="row">
          <div class="col-md-6 col-6">
            <mat-form-field class="full-width">
              <input matInput formControlName="subTotal" [readonly]="true" placeholder="Sub Total" [ngModel]="sum">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-6">
            <mat-form-field class="full-width">
              <input matInput formControlName="tax" [readonly]="true" placeholder="Tax">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-12">
            <mat-form-field class="full-width">
              <input matInput formControlName="allTotal" [readonly]="true" placeholder="Total" [ngModel]="sum">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary">Update</button>
  </div>
</form>
